<aside class="aside">

  <div class="page-logo">

  </div>

  <nav>
    <ul>
      <li><a href="#" title="О школе">О школе</a></li>
      <li><a href="#" title="Сведения об образовательной оргарнизации">Сведения об образовательной оргарнизации</a></li>
      <li><a href="#" title="Условия обучения">Условия обучения</a></li>
      <li><a href="#" title="Дополнительные сведения<">Дополнительные сведения</a></li>
      <li><a href="#" title="Развитие ребенка">Развитие ребенка</a></li>
      <li><a href="#" title="Образование">Образование</a></li>
      <li><a href="#" title="Детский сад">Детский сад</a></li>
      <li><a href="#" title="Контакты">Контакты</a></li>
    </ul>
  </nav>

  <div class="aside-contacts">
    <span class="phone">+7 (495) <b>612-41-84</b></span>
    <span class="phone">+7 (903) <b>795-97-73</b></span>
    <span class="post-addr">г. Москва, ул. Юннатов, д.1</span>
    <a class="email-link" href="mailto:petrovsc@list.ru">petrovsc@list.ru</a>
  </div>

  <div class="social">
    <ul>
      <li><a class="soc-vk" href="#" title="ВКонтакте"></a></li>
      <li><a class="soc-fb" href="#" title="Facebook"></a></li>
      <li><a class="soc-g-plus" href="#" title="Google+"></a></li>
      <li><a class="soc-rss" href="#" title="RSS"></a></li>
    </ul>
  </div>

</aside>
