<footer>
  <div class="footer-row">
    <div class="footer-cell">
      <h2>О ШКОЛЕ</h2>
      <ul>
        <li><a href="#">Основные сведения</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Документы</a></li>
        <li><a href="#">Учителя</a></li>
        <li><a href="#">Администрация</a></li>
        <li><a href="#">Психолого-педагогическое сопровождение</a></li>
        <li><a href="#">Медицинское обслуживание</a></li>
        <li><a href="#">Безопасность</a></li>
        <li><a href="#">Наши выпускники в вузах</a></li>
        <li><a href="#">Сведения о доступе к инф. системам и информационно-телекоммуникационным сетям</a></li>
        <li><a href="#">Информация об электронных образовательных ресурсах</a></li>
      </ul>
    </div>
    <div class="footer-cell">
      <h2>О ШКОЛЕ</h2>
      <ul>
        <li><a href="#">Результаты</a></li>
        <li><a href="#">Начальная школа</a></li>
        <li><a href="#">ЕГЭ - 11 класс</a></li>
        <li><a href="#">ГИА - 9 класс</a></li>
        <li><a href="#">Независимая диагностика МРКО</a></li>
      </ul>
      <h2>РАЗВИТИЕ РЕБЕНКА</h2>
      <ul>
        <li><a href="#">Программа внеурочной деятельности</a></li>
        <li><a href="#">Внеурочная деятельность</a></li>
        <li><a href="#">Проектная деятельность</a></li>
        <li><a href="#">Развитие познавательных способностей</a></li>
        <li><a href="#">Театр на английском языке</a></li>
        <li><a href="">Инновационная деятельность</a></li>
        <li><a href="">Олимпиады и конкурсы</a></li>
        <li><a href="">Наши таланты</a></li>
      </ul>
    </div>
    <div class="footer-cell">
      <h2>ГАЛЕРЕЯ</h2>
      <ul>
        <li><a href="#">Праздники</a></li>
        <li><a href="#">Экскурсии</a></li>
        <li><a href="#">Творчество</a></li>
        <li><a href="#">Спорт и отдых</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">© 1993 - 2014  Петровская частная школа</div>
</footer>
