/* FONTS */
@font-face {
  font-family: HelveticaNeueCyrRoman;
  src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face {
  font-family: HelveticaNeueCyrBold;
  src: url(../fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face {
  font-family: HelveticaNeueCyrMedeum;
  src: url(../fonts/HelveticaNeueCyr-Medium.otf);
}
@font-face {
  font-family: HelveticaNeueCyrLight;
  src: url(../fonts/HelveticaNeueCyr-Light.otf);
}
/* /FONTS */

@import url(../../bower_components/normalize-less/normalize.less);
@import (css) "../../bower_components/Swiper/dist/css/swiper.css";
@import (css) "../../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css";

/* BEGIN GLOBAL STYLES */
* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "HelveticaNeueCyrRoman";
  min-width: 320px;
  width: 100%;
  font-size: 100%;
}

.layout {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
}

.clearfix {
  display: table;
  clear: both;
  content: '';
}

aside {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 330px;
  height: 100%;
  float: left;
  z-index: 10;
  @media (max-width: 760px) {
    width: 240px;
  }
  .page-logo {
    background-image: url("../images/page-logo.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 27px;
    width: 144px;
    height: 157px;
  }
  nav {
    width: 100%;
    margin-bottom: 60px;
    @media (max-width: 760px) {
      font-size: 90%;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        width: 100%;
        a {
          display: inline-block;
          padding: 20px 40px 15px 78px;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          color: #36587c;
          line-height: 1.063em;
          @media (max-width: 760px) {
            padding: 20px 40px 15px 53px;
          }
          &:hover {
            color: #fc4444;
            background-color: #efefef;
            width: 99%;
          }
        }
      }
    }
  }
  .aside-contacts {
    .phone {
      display: inline-block;
      text-align: center;
      width: 100%;
      color: #36587c;
      /* font-family: HelveticaNeueCyr; */
      font-size: 1.125em;
      line-height: 1.563em;
      font-weight: 400;
      b {
        font-weight: 700;
      }
    }
    .post-addr {
      font-family: HelveticaNeueCyrLight;
      margin-top: 18px;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 0.813em;
      font-weight: 300;
      line-height: 1.563em;
    }
    .email-link {
      margin-top: 18px;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 0.813em;
      font-weight: 400;
      line-height: 1.563em;
      color: #36587c;
      text-decoration: underline;
    }
  }
  .social {
    margin-bottom: 40px;
    ul {
      margin: 0 auto;
      margin-top: 24px;
      padding: 0;
      height: 31px;
      width: 142px;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0;
        float: left;
        width: 31px;
        height: 31px;
        margin-right: 6px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          &:hover {
            opacity: 0.7;
          }
        }
        .soc-vk {
          background-image: url("../images/vk-icon.png");
          background-repeat: no-repeat;
        }
        .soc-fb {
          background-image: url("../images/fb-icon.png");
          background-repeat: no-repeat;
        }
        .soc-g-plus {
          background-image: url("../images/g-plus-icon.png");
          background-repeat: no-repeat;
        }
        .soc-rss {
          background-image: url("../images/rss-icon.png");
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.page {
  margin-left: 330px;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
  z-index: 20;
  @media (max-width: 760px) {
    margin-left: 240px;
  }
  header {
    position: relative;
    width: 100%;
    height: 570px;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 900px) {
      font-size: 80%;
    }
    @media (max-width: 760px) {
      font-size: 60%;
    }
    .header-title {
      position: absolute;
      bottom: 60px;
      left: 12%;
      width: 80%;
      max-width: 678px;
      min-height: 173px;
      padding: 34px 75px 34px 54px;
      background-color: rgba(244, 244, 244, 0.83);
      h1 {
        font-family: "HelveticaNeueCyrMedeum";
        color: rgb(54, 88, 124);
        font-size: 1.875em;
        font-weight: 400;
        line-height: 1.563em;
        text-transform: uppercase;
      }
      h2 {
        font-family: "HelveticaNeueCyrLight";
        color: rgb(60, 62, 64);
        font-size: 1.563em;
        font-weight: 500;
        line-height: 1.563em;
      }
    }
  }
  footer {
    position: relative;
    display: table;
    width: 100%;
    padding: 55px 45px;
    background-color: #36587C;
    @media (max-width: 760px) {
      display: block;
      padding: 23px;
    }
    .copyright {
      display: inline-block;
      position: absolute;
      right: 60px;
      bottom: 60px;
      width: 161px;
      color: #fff;
      font-size: 0.813em;
      font-weight: 300;
      line-height: 1em;
      @media (max-width: 760px) {
        position: inherit;
        width: 100%;
        bottom: inherit;
        right: inherit;
      }
    }
    .footer-row {
      display: table-row;
      @media (max-width: 760px) {
        display: none;
      }
      .footer-cell {
        display: table-cell;
        width: 30%;
        padding: 0 45px;
        &:last-child {
          margin-right: 0;
        }
        h2 {
          font-size: 0.813em;
          color: #fff;
          font-weight: 700;
          line-height: 1.875em;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            padding: 5px 0;
            a {
              color: #aeb8c5;
              font-size: 0.813em;
              font-weight: 300;
              line-height: 1.563em;
            }
          }
        }
      }
    }
  }
}

.content {
  background-color: #f4f4f4;
  width: 100%;
  .text-block {
    padding: 35px 45px 35px 45px;
    h1 {
      margin-top: 0;
      margin-bottom: 23px;
      text-align: center;
      text-transform: uppercase;
      color: #36587c;
      font-size: 1.375em;
      font-weight: 700;
      line-height: 1.563em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    p {
      font-family: "HelveticaNeueCyrRoman";
      margin-top: 0;
      margin-bottom: 23px;
      margin-right: 33px;
      color: #676b6f;
      font-size: 0.813em;
      line-height: 1.425em;
      font-weight: 400;
      a {
        color: #676b6f;
        text-decoration: underline;
      }
    }
    .h1-bottom {
      margin-top: 0;
      margin-bottom: 23px;
      text-align: center;
      text-transform: uppercase;
      color: #36587c;
      font-size: 1.375em;
      font-weight: 700;
      line-height: 1.563em;
    }
  }
  .phone-to-sign {
    padding: 32px 90px 39px;
    width: 100%;
    height: 174px;
    background-image: url("../images/phone-to-sign-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 830px) {
      padding: 32px;
      font-size: 80%;
    }
    .title {
      display: inline-block;
      width: 100%;
      color: #fff;

      font-size: 1.375em;
      font-weight: 400;
      line-height: 1.563em;
    }
    .phone {
      display: inline-block;
      width: 100%;
      color: #fff;
      font-size: 1.875em;
      line-height: 1.5em;
    }
  }
  .news-and-events {
    font-family: "HelveticaNeueCyrBold";
    width: 100%;
    .row {
      width: 100%;
      .event-group-top,
      .event-group-bottom {
        float: left;
        width: 50%;
        @media (max-width: 760px) {
          float: none;
          width: 100%;
        }
      }
      .event-group-top {
        @media (max-width: 760px) {
          &:first-child {
            display: none;
          }
        }
        .cover {
          float: left;
          width: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .cover-1 {
          background-image: url("../images/event-cover-1.png");
        }
        .cover-2 {
          background-image: url("../images/event-cover-2.png");
        }
        .description {
          position: relative;
          float: right;
          width: 50%;
          background-color: #36587c;
          &::before {
            position: absolute;
            top:50%;
            left: -20px;
            transform: translate(0, -50%);
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right:20px solid #36587c;

          }
          a {
            padding: 40px 23px;
            width: 100%;
            height: 100%;
            display: inline-block;
            text-align: center;
            span:first-child {
              display: inline-block;
              width: 100%;
              margin-bottom: 32px;
              color: #fff;
              font-size: 1.375em;
              font-weight: 700;
              line-height: 1.563em;
            }
            span:last-child {
              display: inline-block;
              width: 100%;
              margin-bottom: 32px;
              color: #fff;
              font-size: 0.938em;
              font-weight: 500;
              line-height: 1.125em;
            }
          }
        }
      }
      .event-group-bottom {
        @media (max-width: 760px) {
          &:last-child {
            display: none;
          }
        }
        .cover {
          float: right;
          width: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .cover-1 {
          background-image: url("../images/event-cover-3.png");
        }
        .cover-2 {
          background-image: url("../images/event-cover-4.png");
        }
        .description {
          position: relative;
          float: left;
          width: 50%;
          background-color: #36587c;
          &::after {
            position: absolute;
            top:50%;
            right: -20px;
            transform: translate(0, -50%);
            display: block;
            content: "";
            width: 0px;
            height: 0px;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left:20px solid #36587c;
          }
          a {
            padding: 40px 23px;
            width: 100%;
            height: 100%;
            display: inline-block;
            text-align: center;
            span:first-child {
              display: inline-block;
              width: 100%;
              margin-bottom: 32px;
              color: #fff;
              font-size: 1.375em;
              font-weight: 700;
              line-height: 1.563em;
            }
            span:last-child {
              display: inline-block;
              width: 100%;
              margin-bottom: 32px;
              color: #fff;
              font-size: 0.938em;
              font-weight: 500;
              line-height: 1.125em;
            }
          }
        }
      }
    }
  }
  .little-star {
    position: relative;
    width: 100%;
    background-image: url("../images/ls-bg.png");
    height: 212px;
    .child-img {
      position: absolute;
      top: 7px;
      left: 40px;
      width: 20%;
    }
    .child-logo {
      position: absolute;
      top: 20px;
      right: 140px;
      width: 20%;
    }
  }
  .universities {
    width: 100%;
    padding: 60px 42px 87px;
    h1 {
      margin-top: 0;
      margin-bottom: 23px;
      text-align: center;
      text-transform: uppercase;
      color: #36587c;
      font-size: 1.375em;
      font-weight: 700;
      line-height: 1.563em;
    }
    img {
      display: inline-block;
      vertical-align: middle;
    }
    .main-slider {
      width: 100%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-bottom: 44px;
      li {
        color: #3c3e40;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 2.188em;
        .label-check {
          display: inline-block;
          vertical-align: middle;
          background-image: url("../images/label-check.png");
          background-repeat: no-repeat;
          width: 28px;
          height: 28px;
          margin-right: 22px;
        }
      }
    }
    p {
      line-height: 1.125em;
      color: #3c3e40;
      font-size: 0.813em;
      font-weight: 400;
    }
    .phone {
        color: #36587c;
        font-size: 0.938em;
        font-weight: 700;
      }
      a {
        color: #36587c;
        font-size: 0.938em;
        font-weight: 400;
        text-decoration: underline;
      }
      .where {
        color: #36587c;
        font-size: 1.125em;
        font-weight: 400;
        text-decoration: underline;
      }
  }
}


@import url(partials/main.less);
